<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.caloriecare">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CalorieCare"
        android:allowBackup="true"
        android:label="@string/app_name"

        android:icon="@mipmap/ic_logo"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".main.ExerciseActivity"  />
        <activity android:name=".main.DietActivity" />
        <activity android:name=".main.TodayActivity"  />


    </application>

</manifest>